*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins';
    box-sizing: border-box;
}
.h5{
    background-color: red;
}   
.navbar {
    background-color: #f8f9fa;
    padding: 1rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
}

.navbar-toggler {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #000;
}
.btn {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.section {
    padding: 3rem 1rem;
}

.section-title {
    text-align: center;
    margin-bottom: 2rem;
}
section .centered{
    text-align: center;
    padding-bottom: 1rem;
}

.courses, .team {
    display: flex;
    justify-content: space-around;
}

.team-member p{
    padding-bottom: 1.4rem;
}

 .team-member {
    flex: 1;
    margin: 0 1rem;
    text-align:center;
    border: 1px solid rgb(100, 94, 94);
    border-radius: 0%;
    height: 450px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.course {
    flex: 1;
    margin: 0 1rem;
    text-align:center;
    border: 1px solid rgb(100, 94, 94);
    border-radius: 0%;
    height: 450px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color:rgb(220, 234, 236);}


.team-member{
    padding-bottom: 2.4rem;
}
.courses .course p{
    padding-bottom: 1.4rem;
}

.course h3, .team-member h5 {
    margin-bottom: 1rem;
}

.team-member img {
    width: 200ppx;
    /* border-radius: 50%; */
    height: 250px;
}

.item {
    min-width: 50%;
    text-align: center;
}

.bg-light {
    background-color: #f8f9fa;
}
.bg-lights{
    background-color: #d3e0ec;
    border: 1px solid black;
    border-radius: 1rem;
    max-width: 30%;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input, .form-group textarea {
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footer {
    background-color: #03070c;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1rem;
}

.footer p {
    margin: 0;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .courses, .team {
        flex-direction: column;
        align-items: center;
    }

    .course, .team-member {
        margin: 1rem 0;
    }

    .course, .team-member{
        width: 300px;
        padding: 1rem;
        padding-bottom: 1.8rem;
    }
}